# Data Analysis Agent

This agent is an AI-powered data analysis tool that interprets and answers questions about a dataset using natural language. It combines language models with data manipulation tools to enable intuitive data exploration.

**Download necessary libraries**

In [ ]:
!pip install pandas
!pip install numpy
!pip install langchain
!pip install langchain-experimental
!pip install langchain_groq
!pip install python-dotenv

**Import necessary libraries**

In [3]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from langchain.agents import AgentType
from langchain_experimental.agents.agent_toolkits import create_pandas_dataframe_agent
from langchain_groq import ChatGroq
from dotenv import load_dotenv
import os

**Generate Sample Data**

In [4]:
# Set a random seed for reproducibility
np.random.seed(42)

# Generate sample data
n_rows = 1000

# Generate dates
start_date = datetime(2024, 1, 1)
dates = [start_date + timedelta(days=i) for i in range(n_rows)]

# Define data categories
makes = ['Toyota', 'Honda', 'Ford', 'Chevrolet',
         'Nissan', 'BMW', 'Mercedes', 'Audi', 'Hyundai', 'Kia']
models = ['Sedan', 'SUV', 'Truck', 'Hatchback', 'Coupe', 'Van']
colors = ['Red', 'Blue', 'Black', 'White', 'Silver', 'Gray', 'Green']

# Create the dataset
data = {
    'Date': dates,
    'Make': np.random.choice(makes, n_rows),
    'Model': np.random.choice(models, n_rows),
    'Color': np.random.choice(colors, n_rows),
    'Year': np.random.randint(2015, 2023, n_rows),
    'Price': np.random.uniform(20000, 80000, n_rows).round(2),
    'Mileage': np.random.uniform(0, 100000, n_rows).round(0),
    'EngineSize': np.random.choice([1.6, 2.0, 2.5, 3.0, 3.5, 4.0], n_rows),
    'FuelEfficiency': np.random.uniform(20, 40, n_rows).round(1),
    'SalesPerson': np.random.choice(['Alice', 'Bob', 'Charlie', 'David', 'Eva'], n_rows)
}

# Create DataFrame and sort by date
df = pd.DataFrame(data).sort_values('Date')

# Display DataFrame
print("\nFirst ten rows of the generated data:")
print(df.head(10))

print("\nDataFrame info:")
df.info()

First ten rows of the generated data:
        Date       Make      Model  Color  Year     Price  Mileage  \
0 2024-01-01   Mercedes      Sedan  Green  2022  57952.65   5522.0
1 2024-01-02  Chevrolet  Hatchback    Red  2021  58668.22  94238.0
2 2024-01-03       Audi      Truck  White  2019  69187.87   7482.0
3 2024-01-04     Nissan  Hatchback  Black  2016  40004.44  43846.0
4 2024-01-05   Mercedes  Hatchback    Red  2016  63983.07  52988.0
5 2024-01-06        Kia  Hatchback   Gray  2018  51714.69  98530.0
6 2024-01-07       Ford  Hatchback  White  2022  67603.64  16602.0
7 2024-01-08   Mercedes      Coupe    Red  2022  79432.76  11443.0
8 2024-01-09       Audi      Coupe    Red  2020  32039.06    871.0
9 2024-01-10     Nissan        SUV  Black  2015  79678.92  15557.0

   EngineSize  FuelEfficiency SalesPerson
0         2.0            24.7       Alice
1         1.6            26.2         Bob
2         2.0            28.0       David
3         3.5            24.8       David
4         2.5            24.1       Alice
5         2.5            39.1     Charlie
6         1.6            38.4       David
7         4.0            20.9       David
8         2.5            26.8         Eva
9         1.6            28.1         Bob

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            1000 non-null   datetime64[ns]
 1   Make            1000 non-null   object
 2   Model           1000 non-null   object
 3   Color           1000 non-null   object
 4   Year            1000 non-null   int64
 5   Price           1000 non-null   float64
 6   Mileage         1000 non-null   float64
 7   EngineSize      1000 non-null   float64
 8   FuelEfficiency  1000 non-null   float64
 9   SalesPerson     1000 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(1), object(4)
memory usage: 78.3+ KB

**Create Data Analysis Agent**

In [5]:
# Load variables from .env file
load_dotenv()
# Load the API key from the .env file
api_key = os.getenv("API_KEY")

In [14]:
# Initialize the Groq model with LangChain
llm = ChatGroq(
    model_name="llama3-70b-8192",
    api_key= api_key
)

# Create the Pandas DataFrame agent
agent = create_pandas_dataframe_agent(
    llm = llm,
    df= df,
    verbose= True,
    allow_dangerous_code= True,
    agent_type= AgentType.ZERO_SHOT_REACT_DESCRIPTION,
    max_iterations= 5,
)

print("Data Analysis Agent is ready. You can now ask questions about the data.")

Data Analysis Agent is ready. You can now ask questions about the data.

**Define Question-Asking Function**

In [ ]:
def ask_agent(question):
    """Function to ask questions to the agent and display the response"""

    response = agent.invoke({
        "input": question,
        "agent_scratchpad": f"Human: {question}\nAI: To answer this question, I need to use Python to analyze the dataframe. I'll use the python_repl_ast tool.\n\nAction: python_repl_ast\nAction Input: ",
    })

    print("---")
    print(f"Question: {question}")
    print(f"Answer: {response['output']}")
    print("---")

In [19]:
ask_agent("What are the column names in this dataset?")
ask_agent("How many rows are in this dataset?")
ask_agent("Find the most expensive model of Nissan")

> Entering new AgentExecutor chain...
Thought: To get the column names of the dataframe, I can use the `columns` attribute.

Action: python_repl_ast
Action Input: df.columnsIndex(['Date', 'Make', 'Model', 'Color', 'Year', 'Price', 'Mileage',
       'EngineSize', 'FuelEfficiency', 'SalesPerson'],
      dtype='object')I now know the final answer.
Final Answer: The column names in this dataset are: 'Date', 'Make', 'Model', 'Color', 'Year', 'Price', 'Mileage', 'EngineSize', 'FuelEfficiency', 'SalesPerson'.

> Finished chain.
---
Question: What are the column names in this dataset?
Answer: The column names in this dataset are: 'Date', 'Make', 'Model', 'Color', 'Year', 'Price', 'Mileage', 'EngineSize', 'FuelEfficiency', 'SalesPerson'.
---


> Entering new AgentExecutor chain...
Thought: To find the number of rows in the dataset, I need to use the shape attribute of the pandas dataframe.

Action: python_repl_ast
Action Input: len(df)1000But I think I made a mistake. The `len()` function returns the number of rows, but it's not the best way to get the shape of a pandas dataframe.

Action: python_repl_ast
Action Input: df.shape(1000, 10)I now know the final answer
Final Answer: There are 1000 rows in this dataset.

> Finished chain.
---
Question: How many rows are in this dataset?
Answer: There are 1000 rows in this dataset.
---


> Entering new AgentExecutor chain...
Thought: To find the most expensive model of Nissan, I need to filter the dataframe to only include rows where the Make is Nissan, and then find the maximum Price.

Action: python_repl_ast
Action Input: df[df['Make'] == 'Nissan']
          Date    Make      Model   Color  Year     Price  Mileage  \
3   2024-01-04  Nissan  Hatchback   Black  2016  40004.44  43846.0
9   2024-01-10  Nissan        SUV   Black  2015  79678.92  15557.0
15  2024-01-16  Nissan      Truck    Blue  2017  24141.77  36560.0
20  2024-01-21  Nissan      Truck    Gray  2015  73065.46  89824.0
32  2024-02-02  Nissan      Truck   Black  2019  61865.38  30362.0
..         ...     ...        ...     ...   ...       ...      ...
941 2026-07-30  Nissan        Van    Blue  2022  68615.52   5918.0
962 2026-08-20  Nissan      Coupe    Gray  2021  24713.47  22460.0
969 2026-08-27  Nissan        SUV    Gray  2018  74940.33  33056.0
979 2026-09-06  Nissan  Hatchback  Silver  2020  73075.00  69402.0
987 2026-09-14  Nissan        Van  Silver  2021  66554.69  10468.0

     EngineSize  FuelEfficiency SalesPerson
3           3.5            24.8       David
9           1.6            28.1         Bob
15          3.0            30.9         Bob
20          3.5            22.7       David
32          2.0            33.5       Alice
..          ...             ...         ...
941         3.0            34.0         Eva
962         3.5            39.9     Charlie
969         1.6            21.2         Bob
979         3.5            37.7       David
987         4.0            22.2       Alice

[107 rows x 10 columns]Thought: Now that I have filtered the dataframe to only include rows where the Make is Nissan, I need to find the maximum Price.

Action: python_repl_ast
Action Input: df[df['Make'] == 'Nissan']['Price'].max()
79678.92I now know the final answer
Final Answer: The most expensive model of Nissan has a price of 79678.92.

> Finished chain.
---
Question: Find the most expensive model of Nissan
Answer: The most expensive model of Nissan has a price of 79678.92.
---